<!doctype html>
<html>
    <head>
    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/1c83e69aa6.js" crossorigin="anonymous"></script>
    <style>
        .like__btn{
    padding: 10px 15px;
    background: rgb(32,42,68);
    font-size: 18px;
    font-family:'Open Sans', 'sans-serif';
    border:none;
    color:white;
    border-radius: 10px;
    cursor: pointer;
    outline:none;
}
.liked__btn{
    padding: 10px 15px;
    background: rgb(255, 255, 255);
    font-size: 18px;
    font-family:'Open Sans', 'sans-serif';
    border:none;
    color:rgb(32,42,68);
    border-radius: 10px;
    cursor: pointer;
    outline:none;
}
    </style>
    </head>

    <body>
        <button class={{c}}>
            <span id="icon"><i class="fa-regular fa-thumbs-up"></i></span>{{m}}
                <span id="count">0</span> 
            </button>
            </div>
    </body>
</html>